name: Cloudflare_Pipeline_Web

on:
  workflow_call:
    secrets:
      CLOUDFLARE_API_TOKEN:
        required: true
      CLOUDFLARE_ACCOUNT_ID:
        required: true
    inputs:
      cluster:
        required: true
        type: string

jobs:
  changes:
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read
      pull-requests: read
    outputs:
      web: ${{ steps.filter.outputs.web }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            web:
              - 'apps/web/**'

  deploy_frontend:
    needs: changes
    if: needs.changes.outputs.web == 'true'
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: ./.github/actions/setup-node-pnpm
        with:
          node-version: ${{ vars.NODE_VERSION }}

      - name: Build frontend
        run: pnpm turbo build --filter=@tokistack/web

      - name: Deploy to Cloudflare Workers
        working-directory: apps/web
        run: pnpm wrangler deploy --name tokistack-${{ inputs.cluster }}-frontend
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
